
body{
    /* Fjern scroling*/
    overflow: hidden;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}


h1{
    /* Centrering, størelse og tekst type */
    font-family: Arial;
    text-align: center;
}

h3{
    font-family: Arial;
    text-align: center;
}

.knapcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    height: 100vh;
    text-align: center;
}

.Knap{
    margin: 10px;
    cursor: pointer;
    transform: translateY(-0%);
}


/* transform gør så billedet er centreret */
.Foto1{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.JusterBillede{
    position: absolute;
    width: 25%;
    height: 35%;
    top: 20%;
    /* Placere i midten*/
    left: 50%;
    transform: translateX(-50%);
}

header{
    font-family: Arial sans-serif;
    background-color: #333;
    text-align: center;
    padding: 20px;
    color: #fff;
}

footer{
    font-family: Arial, sans-serif;
    background-color: #333;
    text-align: center;
    padding: 20px;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
}


header h1 {
    margin: 0;
}

p{
    margin: 0;
    padding: 0;
}


