body {

    background-image: url('images/HOMEPAGE.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;

    text-align: center;
    font-family: Arial, sans-serif;

    margin: 0;
    padding: 0;
}
.option:hover {
    background-color: #ddd;
}
.option1 {
    font-family: Arial, sans-serif;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #f0f0f0;
    border: 2px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.option2 {
    font-family: Arial, sans-serif;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #f0f0f0;
    border: 2px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.option3 {
    font-family: Arial, sans-serif;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #f0f0f0;
    border: 2px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

h1{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

header{
    font-family: Arial sans-serif;
    background-color: #333;
    text-align: center;
    padding: 20px;
    color: #fff;
}

footer{
    font-family: Arial, sans-serif;
    background-color: #333;
    text-align: center;
    padding: 20px;
    color: #fff;
    bottom: 0;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
}

header h1 {
    margin: 0;
}

.indhold{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: -80px;
}