body {
    background-color: white;
    font-family: Arial;

    margin: 0;
    padding: 0;


    /* Her centreres på siden */
    justify-content: center;
    align-items: center;
    height: 100vh; /* vh er view hight */
}

form{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    /* kanten på bokesen */

    margin: 0 auto;
}

.input{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

.knapper{
    margin-top: 20px;
  display: flex;
    justify-content: flex-end;
    width: 100%;
}

.knapper input[type="submit"]{
margin-left: auto;
}




header h1{
    margin: 0;
    font-family: Arial, sans-serif;
}

p{
    margin: 0;
    padding: 0;
}



header{
    font-family: Arial sans-serif;
    background-color: #333;
    text-align: center;
    padding: 20px;
    color: #fff;
}

footer{
    font-family: Arial, sans-serif;
    background-color: #333;
    text-align: center;
    padding: 20px;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
}
