.Medddelse{
    text-align: center;
    font-family: Arial;
}
.PUG{
    margin: 100px;
    text-align: center;
}



.Foto1{
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}