body {
    background-color: gray;
    font-family: Arial;
    margin: 0;
    padding: 0;
    /* Her centreres på siden */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* vh er view hight */
}

form{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    /* kanten på bokesen */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 0 auto;
}

.input{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.knapper{
  display: flex;
    justify-content: flex-end;
    width: 100%;
}

.knapper input[type="submit"]{
margin-left: auto;
}





