
/* Laver layout for body, header, footer, container og box's */
body {
    font-family: Arial sans-serif;
    background-image: url('../../../../../Projekt1_gruppe3_Maven/src/main/resources/static/Images/modernSkrald.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;

}
/*
.hiddenImage {
display: none;
}

 */


.main-content {
    background-image: url("Images/modernSkraldJpg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /* To ensure the main takes up all available space */
    flex: 1;
}



header{
    font-family: Arial sans-serif;
    background-color: #333;
    text-align: center;
    padding: 20px;
    color: #fff;
}

footer{
    font-family: Arial, sans-serif;
    background-color: #333;
    text-align: center;
    padding: 20px;
    color: #fff;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}


    header h1 {
        font-family: Arial, sans-serif;
        margin: 0;
        font-family: Arial, sans-serif;
    }

    .text {
        text-align: center;
        font-size: 1vw;
        font-family: Arial, sans-serif;
        display: block;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.7);
        max-width: 50%;
    }

    pre {
        font-family: Arial, sans-serif;
        padding: 20px;
    }

    p {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }


    /* Styler container og boxes */

    .container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex: 1;
        padding: 20px;
    }

    .box {
        background-color: rgba(170, 169, 173, 0.7);
        font-family: Arial, sans-serif;
        padding: 20px;
        position: sticky;
        top: 10px;
        text-align: center;
        flex: 1;
    }

    .homeButtonTitel {
        font-size: 1vw;
        font-family: Arial, sans-serif;
        display: block;
        margin: 0 auto;

        max-width: 50%;
        padding: 20px;
    }

    .homeScreenButton {
        cursor: pointer;
        width: 50px;
    }

    .homeScreenLogo {
        width: 20px;
        height: 20px;

    }

    .privateQuizz {
        font-size: 1vw;
        font-family: Arial, sans-serif;
        display: block;
        margin: 0 auto;

        max-width: 50%;
        padding: 20px;
    }

    .tagQuizz {
        cursor: pointer;
        width: 90px;

    }

