<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to our Quiz!</title>
    <link href="../static/AdventureQuiz.css" th:href="@{/AdventureQuiz.css}" rel="stylesheet" />
    <h1>Choose a Quiz:</h1>

</head>
<body>
<form action="#" th:action="@{/AdventureQuiz}" method="post">
    <div class="optionsContainer">
        <!-- Your Adventure Quiz Button -->
        <button type="submit" name="redirectToQuiz" value="" class="option" onclick="location.href='/question?questionNumber=1&nrOfCorrectAnswers=0'">Adventure Quiz</button>
        <button>Grown-Up Quiz</button>
    </div>
</form>
</body>
</html>