<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        .option {
            display: inline-block;
            padding: 10px 20px;
            margin: 10px;
            background-color: #f0f0f0;
            border: 2px solid #ddd;
            border-radius: 5px;
            text-decoration: none;
            color: black;
        }
        .option:hover {
            background-color: #ddd;
        }
        .optionsContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    </style>
    <title></title>
</head>

<body>
    <h2 th:text="${questionNumber} + '. question - Adventure Quiz'"> Question nr and Quiz Type</h2>

    <h1 th:text="${questionTitle}"></h1>

    <form action="#" th:action="@{/question}" method="post">
        <input type="hidden" name="questionNumber" th:value="${questionNumber}" />
        <input type="hidden" name="nrOfCorrectAnswers" th:value="${nrOfCorrectAnswers}" />
        <!-- add other hidden fields here if you need them -->
        <div class="optionsContainer">
            <button type="submit" name="userChoice" value="1" class="option" th:text="${option1}" ></button>
            <button type="submit" name="userChoice" value="2" class="option" th:text="${option2}" ></button>
            <button type="submit" name="userChoice" value="3" class="option" th:text="${option3}" ></button>
        </div>
    </form>
</body>
</html>

