<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/question.css}">
</head>
<body>
<!-- Main Content Container -->
<div class="contentContainer">

    <!-- Question Area -->
    <div class="question-area">
        <h2 th:text="${questionNumber} + '. question - Adventure Quiz'"> Question nr and Quiz Type</h2>
        <h1 th:text="${questionTitle}"></h1>
        <form action="#" th:action="@{/question}" method="post">
            <input type="hidden" name="questionNumber" th:value="${questionNumber}" />
            <input type="hidden" name="nrOfCorrectAnswers" th:value="${nrOfCorrectAnswers}" />
            <input type="hidden" name="imageName" th:value="${imageName}" />


            <!-- add other hidden fields here if you need them -->
            <div class="optionsContainer">
                <button type="submit" name="userChoice" value="1" class="option" th:text="${option1}" ></button>
                <button type="submit" name="userChoice" value="2" class="option" th:text="${option2}" ></button>
                <button type="submit" name="userChoice" value="3" class="option" th:text="${option3}" ></button>
            </div>
        </form>
    </div>

    <!-- Image Area -->
    <div class="image-area">
        <img th:src="@{'/Images/' + ${imageName}}" alt="Question image" />
    </div>
</div>
</body>
</html>