<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Company.css">
    <title>CompanyPage</title>
</head>

<body>

<header>                                <!-- Laver unik header -->
    <h1> Velkommen virksomhed! </h1>
</header>

<div class="Knapper">
    <form action="/Company" method="post">
        <div class="optionsContainer">
            <button type="submit" name="choice" value="1" class="option">Klik her for at gå tilbage til forsiden!</button>
            <button type="submit" name="choice" value="2" class="option">Klik her for at bestille jeres flyers!</button>
        </div>
    </form>
</div>

<div class="Foto1">
    <img class="billede" src="/Images/Foto200.jpg">
</div>

<div>
    <img src="/Images/Reduce2.png" class="JusterBillede">
</div>
<footer>
    <p>Copyright © 2024 Organisation mod Madspild</p>
</footer>

</body>
</html>
