<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8"><link rel="stylesheet" href="../../../../../Projekt1_gruppe3_Maven/src/main/resources/static/Company.css">
    <title>CompanyPage</title>
</head>

<body>

<header>                                <!-- Laver unik header -->
    <h1> Velkommen virksomhed! </h1>
</header>

  <div class="knapcontainer">
        <div class="TilbageTilForside">
            <a href="Home.html">
                <button class="Knap">Klik her for at gå tilbage til forsiden</button>
            </a>
        </div>

      <div class="TilBestillingsSide">
          <a href="Ordering.html">
              <button class="Knap"> Klik her for at bestille jeres flyers </button>
          </a>
      </div>
  </div>

<div class="Foto1">
    <img class="billede" src="../../../../../Projekt1_gruppe3_Maven/src/main/resources/static/Images/Foto200.jpg">
</div>

<div>
    <img src="../../../../../Projekt1_gruppe3_Maven/src/main/resources/static/Images/Reduce2.png" class="JusterBillede">
</div>

</body>
</html>
