<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome! </title>
    <link rel="stylesheet" href="Home.css">
</head>
<body>

<header>                                <!-- Laver unik header -->
    <h1> Velkommen til Danmark mod madspild </h1>
</header>

<br>
<br>
<br>
<br>
<br>
<br>

<div class="indhold">
    <br>
    <a href="/Company">
        <button class="option1">Til dig som virksomhed!</button>
    </a>
</p>

<br>
<br>

    <br>
    <a href="/Organization">
        <button class="option2">Til dig som organisation</button>
    </a>
</p>

<br>
<br>

    <br>
    <a href="/PrivateConsumer">
        <button class="option3">Til dig som privat forbruger</button>
    </a>
</p>

</div>

<footer>
    <p>Copyright © 2024 Organisation mod Madspild</p>
</footer>

</body>
</html>