<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome! </title>
    <link rel="stylesheet" href="Home.css">
</head>
<body>

<header>                                <!-- Laver unik header -->
    <h1> Velkommen til Danmark mod madspild </h1>
</header>

<br>
<br>
<br>
<br>
<br>
<br>

<div class="indhold">
<p> Til dig som
    <br>
    <a href="/Company">
        <button class="option">Virksomhed</button>
    </a>
</p>

<br>
<br>

<p>Til dig som
    <br>
    <a href="/Organization">
        <button class="option">Organisation</button>
    </a>
</p>

<br>
<br>

<p> Til dig som
    <br>
    <a href="/PrivateConsumer">
        <button class="option">Privat forbruger</button>
    </a>
</p>

</div>

<footer>
    <p>Copyright © 2024 Organisation mod Madspild</p>
</footer>

</body>
</html>