<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ordrer Bekræftet</title>
    <link rel="stylesheet" href="OrderConfirmed.css">
</head>

<body>

<header>
    <h1>Tak for jeres bestilling!</h1>
</header>

    <div class="Medddelse">
        <h3> I vil snarest modtage en email med information vedrørende levering af jeres flyers </h3>
        <h3>Hav en god dag!</h3>
        <a href="/home">
            <button class="Forside"> Tilbage til forside </button>
        </a>
    </div>


    <div class="Foto1">
        <img class="billede" src="/Images/Foto200.jpg">
    </div>

<footer>                                <!-- Footer, laver sidefod -->
    <p>Copyright © 2024 Organisation mod Madspild</p>
</footer>

</body>
</html>