<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ordrer Bekræftet</title>
    <link rel="stylesheet" href="../../../../../Projekt1_gruppe3_Maven/src/main/resources/static/OrderConfirmed.css">
</head>

<body>

    <div class="Medddelse">
        <h1> Tak for jeres bestilling! og indsats mod madspild! </h1>
        <p> I vil snarest modtage en mail med information vedrørende levering af jeres flyers </p>
        <a href="Home.html">
            <button> Tilbage til forside </button>
        </a>
    </div>

<div class="PUG">
    <a href="https://puginarug.com/">
        <button> Klik er for at se mere...</button>
    </a>
</div>

    <div class="Foto1">
        <img class="billede" src="../../../../../Projekt1_gruppe3_Maven/src/main/resources/static/Images/Foto200.jpg">
    </div>

</body>
</html>