<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flyer Bestillings side</title>
    <link rel="stylesheet" href="../../../../../Projekt1_gruppe3_Maven/src/main/resources/static/Ordering.css">
</head>

<body>

<form id="BestilFlyers" action="OrderConfirmed.html">
    <h2>Udfyld formularen for at bestille din  flyers - Alle felter skal udfyldes!</h2>
    <label for="Virksomheds navn"> Virksomhedens navn </label>
    <input type="text" id="Virksomheds navn" class="input" name="Virksomhedens navn" required autofocus>
    <label for="Leverings adresse"> Leverings adresse </label>
    <input type="text" id="Leverings adresse" class="input" name="Leverings adresse" required>
    <label for="Email"> Email </label>
    <input type="text" id="email" class="input" name="email" required>
    <label for="TelefonNummer"> Telefon Nummer </label>
    <input type="text" id="TelefonNummer" class="input" name="Telefon Nummer" required>
    <label for="AntalFlyers"> Antal flyers </label>
    <input type="text" id="AntalFlyers" class="input" name="Antal flyers" required>


    <div class="knapper">
        <a href="Home.html" class="ForsideKnap">
            <button type="button"> Klik her for at komme tilbage til forsiden </button>
        </a>
        <input type="submit" class="bestil" value="Bestil">
    </div>

</form>


</body>
</html>

<!-- https://puginarug.com/  -->



