<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        body {
            background-image: url('../../../../../Projekt1_gruppe3_Maven/src/main/resources/static/Images/Foto200.jpg');
            background-repeat: no-repeat;
        }
    </style>

    <meta charset="UTF-8">
    <title>Ordrer Bekræftet</title>
    <link rel="stylesheet" href="../../../../../Projekt1_gruppe3_Maven/src/main/resources/static/OrderConfirmed.css">
</head>

<body>

<div class="Medddelse">
    <h1> Tak for jeres bestilling! og jeres indsats mod madspild! </h1>
    <p> I vil snarest modtage en mail med information vedrørende levering af jeres flyers </p>
</div>

</body>
</html>