<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Organisation</title>
    <link rel="stylesheet" href="Organization.css">
</head>

<body>
    <header>
        <h1> Velkommen organisation! </h1>
    </header>

    <h2> Prøv vores helt vilde adventure quiz om madspild</h2>
    <h3>Den er egnet til børn så de mindre også for en god forståelse for emnet</h3>


    <div class="Knapper">

        <form action="/Organization" method="post">
            <div class="optionsContainer">
                <button type="submit" name="choice" value="1" class="option">Klik her for at starte den store Adventure quiz!</button>
                <button type="submit" name="choice" value="2" class="option">Klik her for at komme tilbage til forsiden</button>
            </div>
        </form>
    </div>

    <footer>
        <p>Copyright © 2024 Organisation mod Madspild</p>
    </footer>

</body>
</html>

