<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Organisation</title>
    <link rel="stylesheet" href="Organization.css">
</head>
<body>
    <header>
        <h1> Velkommen organisation! </h1>
    </header>


    <div class="Knapper">
        <a href url="/question?questionNumber=1&nrOfCorrectAnswers=0">
            <button type="button"> Klik her for at starte den store adventure quiz!</button>
        </a>

        <a href="Home.html" class="ForsideKnap">
            <button type="button"> Klik her for at komme tilbage til forsiden </button>
        </a>
    </div>

    <footer>
        <p>Copyright © 2024 Organisation mod Madspild</p>
    </footer>

</body>
</html>

